@font-face {
    font-family: 'fontGame';
    src: url('../font/Pony.ttf');
}

.game{
    background-image: url(../img/bgGame.png);
    min-height: 100vh;
    font-family: fontGame;
}

.game__title h1{
    font-size: 6rem;
    font-weight: bold;
}

.game__content button{
    height: 150px;
    width: 150px;
    font-size: 2.5rem;
}

.game__result h3{
    font-size: 3rem;
}

.imgXucXac img{
    height: 50px;
    width: 50px;
}